.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  pointer-events: none;
}

.buttonContainer {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
  pointer-events: auto; // Enable pointer events on the button container
}

.buttonText {
  color: #e8e3d3;
  font-size: 18px;
  font-weight: 600;
  font-family: "SpaceMono", monospace;
  text-transform: uppercase;
  text-align: center;
}

.iconLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.iconRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
