@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: none;
}

.background {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(0, #2b383a, #20292b);
  overflow: hidden;
  touch-action: none;
}
